pandas
streamlit
numpy
nltk
networkx
matplotlib
wordcloud 
spacy==3.3.1 
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
https://github.com/UCREL/pymusas-models/releases/download/en_dual_none_contextual-0.3.1/en_dual_none_contextual-0.3.1-py3-none-any.whl
spacytextblob
seaborn
textblob
openpyxl
summa
langdetect
circlify
plotly.express
pyvis
streamlit-lottie
