numpy
nltk
sklearn
lexrank
summa
networkx
scattertext
matplotlib
wordcloud
spacy>=2.2.0,<3.0.0
spacytextblob
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl